<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="nav navbar-header">
                <a href="#" class="navbar-brand">E-Cart</a>
            </div>
    
            <div class="nav navbar-default">
                <ul class="nav navbar-nav">
                    <li><a [routerLink]="['/customer']">Login as Customer</a></li>
                    <li><a [routerLink]="['/admin']">Login as Admin</a></li>
                </ul>
                <!-- <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Add Data</a></li>
                                <li><a href="#">Fetch Data</a></li>
                            </ul>
                        </li>
                    </ul> -->
            </div>
        </div>
    </nav>
